@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes border-animation {
    0% {
      border-color: transparent;
      border-top-color: rgb(255, 0, 234);
    }
    25% {
      border-color: transparent;
      border-right-color: rgb(116, 116, 255);
    }
    50% {
      border-color: transparent;
      border-bottom-color: rgb(183, 8, 226);
    }
    75% {
      border-color: transparent;
      border-left-color: rgb(154, 66, 255);
    }
    100% {
      border-color: transparent;
      border-top-color: rgb(58, 58, 248);
    }
  }
  